{% load static %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'main' %}">
      <img src="{% static 'images/lion-face.png' %}" width="30" height="30" class="d-inline-block align-top" alt="lion" loading="lazy">
      Shoppingmall
    </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products:main' %}">List</a>
        </li>
        {% if user.is_authenticated %} <!-- 로그인을 한 사용자가 페이지에 접속한 경우 -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products:create' %}">New</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %} <!-- 로그인을 한 사용자가 페이지에 접속한 경우 -->
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %} <!-- 로그인을 하지 않은 사용자가 페이지에 접속한 경우 -->
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>