{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <h3>상품 목록</h3>
    <br>
    <a href="{% url 'products:create' %}" class="btn btn-outline-info">새로운 상품 등록하기</a>
    <div class="mb-5">
        <div class="row row-cols-1 row-cols-md-3">
            {% for product in products %}
                <div class="col mb-4">
                    <div class="card h-100" style="width: 18rem; margin-top: 20px;">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="product-image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">
                                {{ product.price }}원<br>
                                판매자 : {{ product.seller }}<br>
                            </p>
                            <a href="{% url 'products:show' product.id %}" class="btn btn-info">상세보기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <h3 class="text-center">로그인 후 상품 목록 확인이 가능합니다.</h3>
    <div class="text-center mt-5">
        <a class="btn btn-primary" href="{% url 'account_login' %}" style="width: 280px;">로그인</a>
        <p class="mt-3">계정이 없다면 <a href="{% url 'account_signup' %}">회원가입</a>을 진행하세요.</p>
    </div>
{% endif %}
{% endblock %}
