{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mb-5">
    <h3>상품 상세보기</h3>
    {% if product.image %} <!-- 상품 사진이 존재하는 경우에만 이미지 표시 -->
        <img src="{{ product.image.url }}" alt="상품사진">
    {% endif %}
    <h5>상품명 : {{ product.name }}</h5>
    <h5>상품 설명 : {{ product.description }}</h5>
    <h5>상품 가격 : {{ product.price }}원</h5>
    <h5>상품 재고 : {{ product.stock }}개</h5>
    <h5>
        판매자 : 
        {% if "user" in product.seller.username %} <!-- user 라는 단어가 판매자의 username에 포함되어 있을 경우 -->
            {{ product.seller.last_name }} {{ product.seller.first_name }} <!-- 구글 소셜로그인이기 때문에 성+이름으로 표시 -->
        {% else %}
            {{ product.seller }}
        {% endif %}
    </h5>
    <h5>등록 시간 : {{ product.created_at }}</h5>
    <h5>수정 시간 : {{ product.updated_at }}</h5>
    <br>
    {% if user == product.seller %} <!-- 페이지에 접속한 사람이 상품 판매자인 경우에만 수정, 삭제 가능하도록 버튼 표시 -->
        <a href="{% url 'products:update' product.pk %}" class="btn btn-primary">수정</a>
        <a href="{% url 'products:delete' product.pk %}" class="btn btn-danger">삭제</a>
    {% endif %}
    
    <!-- 리뷰 작성란 -->
    <div class="container mt-5">
        <form class="form-row" action="{% url 'products:create_review' product.id %}" method="POST">
          {% csrf_token %}
          <select class="form-control col-2 mr-1" name="rating">
            <option value="1">★</option>
            <option value="2">★★</option>
            <option value="3">★★★</option>
            <option value="4">★★★★</option>
            <option value="5">★★★★★</option>
          </select>
          <textarea class="form-control col-9 mr-2" name="content" placeholder="리뷰 내용 입력..." required></textarea>
          <input type="submit" class="btn btn-primary" value="확인">
        </form>
    </div>

    <!-- 모든 리뷰 보여주는 부분 -->
    <div class="container mt-5 mb-5">
        {% for review in reviews %}
            <div class="card">
                <div class="card-body">
                    <b>
                        {% if "user" in review.writer.username %}
                            {{ review.writer.last_name }} {{ review.writer.first_name }}
                        {% else %}
                            {{ review.writer }}
                        {% endif %}
                    </b> : ({{ review.rating }}점) {{ review.content }}<br>
                    <small>{{ review.created_at }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
